.videoWrap {
  height: 100%;
  isolation: isolate;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapperVideoAbsolute {
  position: absolute;
  width: 100%;
  transform: translate(0%, -11.41%);
  transition: 0.8s;
}

.video {
  border-radius: 50%;
  width: 47%;
}
