@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
.bg-gradient {
  background: radial-gradient(
      187.3% 199.13% at -12.08% -11.89%,
      #367de3 20.18%,
      #08101d 67.43%,
      #000 100%
    ),
    #fff;
}
.bg-gradient-2 {
  background: radial-gradient(
      187.3% 199.13% at -12.08% -11.89%,
      #3e4959 20.18%,
      #08101d 67.43%,
      #000 100%
    ),
    #fff;
}
