@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikProTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik Pro";
  font-display: swap;
  src: url("/fonts/AeonikPro-Medium.05757e0.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.bg-gradient {
  background: radial-gradient(
      187.3% 199.13% at -12.08% -11.89%,
      #367de3 20.18%,
      #08101d 67.43%,
      #000 100%
    ),
    #fff;
}
.bg-gradient-2 {
  background: radial-gradient(
      187.3% 199.13% at -12.08% -11.89%,
      #3e4959 20.18%,
      #08101d 67.43%,
      #000 100%
    ),
    #fff;
}
@keyframes enter {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes enter-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .animation-1 {
    animation-name: enter;
    animation-duration: 1s;
  }
  .animation-2:before {
    animation-name: enter-line;
    animation-duration: 0.8s;
    animation-delay: 0.7s;
    transform-origin: left;
  }
}
.animation-modal-enter {
  opacity: 0;
  visibility: hidden;
}
.animation-modal-enter-active {
  opacity: 1;
  visibility: visible;
  transition: 400ms;
}
.animation-modal-exit {
  opacity: 1;
  visibility: visible;
}
.animation-modal-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: 400ms;
}
@media only screen and (max-width: 767px) {
  .animation-2:before {
    animation-delay: 0s;
  }
}
